*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navbar{
    position: relative;
    width: 400px;
    height: 100vh;
    background-color: #d6f3ff;
    padding: 20px 10px;
    overflow: hidden;
    transition: 1s all ease;
    transform: translateX(-400px);
}
.slider{
    transform: translateX(0px); 
}
.navbar h1{
    margin-left: 20px;
    font-size: 50px;
    color:#194A8D ;
    /* background-color: red; */
}
.navbar h1 span{
    color: rgb(236, 138, 138);
}
.bx-x{
    cursor: pointer;
    position: absolute;
    font-size: 45PX;
    right: 20px;
    top: 30px;
    color: rgb(236, 138, 138);
    transition: 0.5s all ease;
}
.bx-x:active{
    transform: rotate(180deg);
}
.navbar ul{
    margin-top: 50px;

}
.navbar li {
    list-style-type: none;
    font-size: 28px;
    margin-bottom: 2px;
    padding: 15px;
    width: 400px;
    height: 60px;
    /* background-color: #75C0E0; */
    transition: 0.8s all ease;
}
li:hover{
    background-color: #194A8D;
    color: white;
    transform: scale(1.1);
    padding-left:50px;
}

.navbar li a{
    text-decoration: none;
    color: #194A8D;
}
li:hover a{
    color: white;  
}

.social{
    display: flex;
    cursor: pointer;
    gap: 20px;
    margin: 70px -15px;
    width: 350px;
    height: 50px;
    /* border: 2px solid red; */
    font-size: 30px;
    padding: 10px 25px;
    color: #194A8D;
}
.social i{
    width: 50px;
    height: 40px;
    padding: 5px;
    transition: 0.5s all ease;
}
.social i:hover{
    background-color: #194A8D;
    color: white;
    border-radius: 50%;
    transform: translateY(-10px);
}

.icon{
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    padding: 10px;
}
.icon i{
    cursor: pointer;
    font-size: 60px;
    color: #75C0E0;
    transition: 1s all ease;
} 
.icon i:hover{
    transform: scale(0.8);
}